:root {
  --primary-font-family: "Quicksand", sans-serif;
  --secondary-font-family: "Rufina", serif;
  --third-font-family: "Slabo 27px", serif;
  --primary-color: #f7eddc;
}

.logo {
  max-width: 8%;
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0px;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

nav a {
  text-decoration: none;
  color: #605b5b;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #141313;
}

.greetings {
  text-align: left;
  font-family: var(--primary-font-family);
  font-size: 36px;
  font-weight: bold;
  margin-top: 80px;
  margin-left: 20px;
}

.greetings-about {
  font-family: var(--primary-font-family);
  margin-left: 20px;
  line-height: 2;
  font-weight: 600;
}

.presentation {
  text-align: center;
  font-family: var(--primary-font-family);
  font-weight: 700;
  line-height: 2;
  letter-spacing: 2px;

  opacity: 0.9;
}
.presentation-about {
  font-family: var(--primary-font-family);
  font-weight: 700;
  line-height: 2;
  margin-top: -12px;
  margin-left: 20px;
  opacity: 0.9;
  letter-spacing: 2px;
}

.description-about {
  margin-left: 20px;
  margin-top: -10px;
  line-height: 1.5;
  font-family: var(--third-font-family);
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 0.8;
  line-height: 1.5;
}

header {
  margin-top: 80px;
}

h1 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 96px;
  text-align: left;
  margin-top: -40px;
  margin-left: 20px;
}

h2 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 64px;
  text-align: center;
}

h3 {
  margin-top: 90px;
  font-family: var(--secondary-font-family);
  font-size: 35px;
  font-weight: bold;
}

a {
  font-family: (--primary-font-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

p {
  font-family: (--primary-font-family);
}

.btn-branding {
  background-color: rgb(208, 195, 179);
  border-radius: 4px;
  color: rgb(56, 50, 50);
  font-family: (--primary-font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 10px;
  padding: 15px 12px;
  margin-top: 5px;
}

.btn-branding-outline {
  font-family: (--primary-font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 10px;
  padding: 15px 12px;
  margin-top: 5px;
  background-color: rgb(56, 50, 50);
  color: rgb(208, 195, 179);
  border-radius: 4px;
}

.btn-about {
  margin-left: 200px;
  margin-top: -100px;
}

.description {
  line-height: 1.5;
  width: 600px;
  margin: auto;
  font-family: var(--third-font-family);
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  opacity: 0.8;
  line-height: 1.5;
  margin-bottom: 20px;
}

.page-container {
  background-color: var(--primary-color);
  padding-bottom: 20px;
  margin-top: 0;
  overflow: hidden;
  padding: 50px 5px;
}

.project-description {
  line-height: 1.5;
  width: 600px;
  margin: auto;
  text-align: right;
  font-family: (--primary-font-family);
  font-weight: 600;
  opacity: 0.9;
}

.project-summary {
  line-height: 1.5;
  width: 300px;
  margin: auto;
  display: inline-block;
  font-size: 13px;
  font-family: (--primary-font-family);
  opacity: 0.8;
}

.scroll {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  font-family: var(--primary-font-family);
}

.img-fluid {
  margin-top: 90px;
}

.project-image {
  max-width: 40%;
  margin-left: 90px;
}

.beatriz-magro {
  width: 285px;
  border-radius: 20px;
  float: right;
  margin-right: 80px;
  margin-top: -450px;
}

.secondary-title h1 {
  text-align: center;
  margin-bottom: -50px;
  font-size: 40px;
  opacity: 0.9;
}

.content img {
  margin-bottom: 10px;
}

.img-smaller {
  max-width: 300px;
  margin-top: 70px;
}

.content-container {
  background-color: var(--primary-color);
  padding-bottom: 20px;
  overflow: hidden;
  padding: 50px 5px;
}

.content {
  margin: 30px;
}

.content h4 {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0 0;
  margin-bottom: 5px;
}

.content p {
  font-size: 14px;
  margin-bottom: 15px;
}

.contact-container {
  text-align: center;
}

.content-container:nth-child(1) h4 {
  font-family: var(--secondary-font-family), sans-serif;
}
.content-container:nth-child(1) p {
  font-family: var(--primary-font-family), sans-serif;
}

.content-container:nth-child(2) h4 {
  font-family: var(--secondary-font-family), sans-serif;
}
.content-container:nth-child(2) p {
  font-family: var(--primary-font-family), sans-serif;
}

.content-container:nth-child(3) h4 {
  font-family: var(--secondary-font-family), sans-serif;
}
.content-container:nth-child(3) p {
  font-family: var(--primary-font-family), sans-serif;
}

.content-container:nth-child(4) h4 {
  font-family: var(--secondary-font-family), sans-serif;
}
.content-container:nth-child(4) p {
  font-family: var(--primary-font-family), sans-serif;
}

footer .email-link {
  text-decoration: none;
  color: black;
  opacity: 0.7;
  font-size: 20px;
  margin-bottom: -10px;
}

footer {
  margin: 50px 0;
}

footer h4 {
  font-family: var(--secondary-font-family);
}

footer .email-link:hover {
  color: #605b5b;
}

footer .social-links a {
  margin: 0 20px;
  color: #d9cfc2;
  background: #605b5b;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: #605b5b;
  background: #d9cfc2;
}

footer .contact-box {
  background-color: var(--primary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

.open-sourced {
  color: #605b5b;
}

.open-sourced:hover {
  color: #141313;
  text-decoration: none;
}

@media (max-width: 768px) {
  .logo {
    width: 30%;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 40px;
  }

  nav ul {
    margin-top: 10px;
  }

  nav li {
    margin: 5px 0;
  }

  header {
    margin-top: 10px;
  }

  h1 {
    font-size: 40px;
    margin-top: 10px;
  }

  h2 {
    font-size: 40px;
  }
  .greetings {
    margin-top: 20px;
    font-size: 30px;
  }

  .greetings-about {
    margin-top: -30px;
    font-size: 12px;
  }

  .project-summary {
    padding: 0;
    text-align: center;
  }

  .description,
  .project-description,
  .project-summary,
  .presentation {
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 20px;
  }

  .presentation {
    margin-bottom: 30px;
  }

  .btn-branding {
    text-align: center;
  }

  h3 {
    text-align: center;
  }
  .beatriz-magro {
    display: none;
  }

  header {
    margin-top: 10px;
  }
  .presentation-about {
    margin-top: 10px;
    margin-bottom: 30px;
  }
  .btn-about {
    margin-top: 10px;
    margin-left: 30px;
    line-height: 1;
  }
  .description-about {
    margin-right: 40px;
    font-size: 10px;
    width: 100%;
    margin-bottom: -15px;
  }

  nav a {
    font-size: 12px;
  }

  footer .contact-box {
    padding: 30px 20px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .email-link {
    padding: 10px;
  }

  .content-container {
    padding: 30px -50px;
  }

  .col-md-6 {
    margin-bottom: 100px;
  }

  footer .contact-box p {
    margin: 10px 0;
  }

  footer .social-links {
    margin: 20px 0;
  }

  footer .social-links a {
    margin: 0 10px;
  }
}
