:root {
  --primary-font-family: "Quicksand", sans-serif;
  --secondary-font-family: "Rufina", serif;
}

/* Editar tamanho do logo no responsive */
.logo {
  max-width: 50px;
}

nav {
  padding: 10px 0;
}

nav ul {
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 40px;
  margin-left: 12px;
}

nav a {
  text-decoration: none;
  color: lightgreen;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: yellow;
}

.greetings {
  text-align: left;
  font-family: var(--primary-font-family);
  font-size: 36px;
  font-weight: bold;
  margin-top: 80px;
  margin-left: 20px;
}

.greetings-about {
  font-family: var(--primary-font-family);
  margin-left: 20px;
  line-height: 2;
  font-weight: 600;
}

.presentation {
  text-align: center;
  font-family: var(--primary-font-family);
  font-weight: 700;
  line-height: 2;

  opacity: 0.9;
}
.presentation-about {
  font-family: var(--primary-font-family);
  font-weight: 700;
  line-height: 2;
  margin-top: -12px;
  margin-left: 20px;
  opacity: 0.9;
}

.description-about {
  margin-left: 20px;
  margin-top: -18px;
  line-height: 1.5;
  margin-bottom: -150px;
}

header {
  margin-top: 80px;
}

h1 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 96px;
  text-align: left;
  margin-top: -40px;
  margin-left: 20px;
}

h2 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 64px;
  text-align: center;
}

h3 {
  margin-top: 90px;
  font-family: var(--secondary-font-family);
  font-size: 35px;
  font-weight: bold;
}

a {
  font-family: (--primary-font-family);
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

p {
  font-family: (--primary-font-family);
}

.btn-branding,
.btn-about {
  background-color: rgb(208, 195, 179);
  border-radius: 4px;
  color: rgb(56, 50, 50);
  font-family: (--primary-font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 10px;
  padding: 15px 12px;
  margin-top: 5px;
}

.btn-branding-outline {
  font-family: (--primary-font-family);
  font-weight: 600;
  font-size: 18px;
  line-height: 10px;
  padding: 15px 12px;
  margin-top: 5px;
  background-color: rgb(56, 50, 50);
  color: rgb(208, 195, 179);
  border-radius: 4px;
}

.btn-about {
  margin-left: 200px;
  margin-top: -100px;
}

.description {
  line-height: 1.5;
  width: 600px;
  margin: auto;
  margin-top: -10px;
}

.page-container {
  background-color: yellow;
  padding-bottom: 20px;
  margin-top: 0;
  overflow: hidden;
  padding: 50px 5px;
}

.project-description {
  line-height: 1.5;
  width: 600px;
  margin: auto;
  text-align: right;
  font-family: (--primary-font-family);
  font-weight: 600;
  opacity: 0.9;
}

.project-summary {
  line-height: 1.5;
  width: 300px;
  margin: auto;
  display: inline-block;
  font-size: 13px;
  font-family: (--primary-font-family);
  opacity: 0.8;
}

.scroll {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  font-family: var(--primary-font-family);
}

.img-fluid {
  margin-top: 90px;
}

.beatriz-magro {
  width: 285px;
  border-radius: 20px;
  float: right;
  margin-right: 80px;
  margin-top: -80px;
}

.secondary-title h1 {
  text-align: center;
  margin-bottom: -30px;
  font-size: 60px;
}

.content img {
  margin-bottom: 10px;
}

.img-smaller {
  max-width: 300px;
  margin-top: 70px;
}

.content-container {
  background-color: yellow;
  padding-bottom: 20px;
  overflow: hidden;
  padding: 50px 5px;
}

.content {
  margin: 30px;
}

.content h4 {
  font-size: 20px;
  line-height: 1.5;
  margin: 20px 0 0;
  margin-bottom: 5px;
}

.content p {
  font-size: 14px;
  margin-bottom: 15px;
}

.contact-container {
  text-align: center;
}

.contact-title h1 {
  font-size: 60px;
  text-align: center;
  margin-top: -40px;
  font-weight: bold;
}

@media (max-width: 960px) {
  h1 {
    font-size: 40px;
    margin-top: 1px;
  }

  h2 {
    font-size: 40px;
  }
  .greetings {
    margin-top: 10px;
    margin-left: 0;
  }

  .greetings-about {
    margin-top: -20px;
  }

  .project-summary {
    padding: 0;
    text-align: center;
  }

  .description,
  .project-description,
  .project-summary {
    width: 100%;
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  .beatriz-magro {
    margin-right: 0px;
    width: 35%;
    margin-top: -299px;
  }

  header {
    margin-top: 10px;
  }
  .presentation-about {
    margin-bottom: 50px;
  }
  .btn-about {
    margin-top: 10px;
    margin-left: 30px;
    line-height: 1;
  }
  .description-about {
    margin-bottom: 10px;
    text-align: left;
  }

  nav a {
    font-size: 12px;
  }
}
